{% extends 'layout.twig' %}
{% block title %}Грузовые автомобили в России{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% for item in range(pagination.firstPage, pagination.lastPage) %}
                    {% if pagination.currentPage == item %}
                        <li class="active"><a href="#">{{ item }}</a></li>
                    {% else %}
                        <li><a href="{{ base_url }}/page/{{ item }}">{{ item }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        {% for item in list %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail text-center" style="height: 350px">
                    <a class="img text-center" href="{{ base_url }}/gallery/{{ item.alias }}.html">
                        <img src="{{ base_url }}/image/thumbnail{{ item.hash | image_path }}" alt="{{ item.name }}">
                    </a>
                    <h3><a class="img text-center" href="{{ base_url }}/gallery/{{ item.alias }}.html">{{ item.name }}</a></h3>
                    <p><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#get_phone" style="height: auto; padding: 17px 48px;font-size: 150%;">КУПИТЬ</button></p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
                {% for item in range(pagination.firstPage, pagination.lastPage) %}
                    {% if pagination.currentPage == item %}
                        <li class="active"><a href="#">{{ item }}</a></li>
                    {% else %}
                        <li><a href="{{ base_url }}/page/{{ item }}">{{ item }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}