{% set title = query.name %}
{% extends 'layout.twig' %}
{% block title %}{{ query.name }}{% endblock %}

{% block content %}
    <section class="banner clearfix">
        <div class="container">
            <h1 class="text-black white-text text-center">{{ query.name |title }}</h1>
        </div>
    </section>
    <section class="portfolio">
        <div class="container">
            <div class="portfolio-gal isotope masonry_wrapper">
                <div class="row">

                    {% for item in list %}
                        <div class="col-xs-12 col-sm-4 webdesign" style="height: 400px">
                            <div class="image text-center">
                                <a class="img fancybox" href="{{ base_url }}/gallery/view/{{ item.id }}" target="_blank">
                                    <img class="img-thumbnail" src="{{ base_url }}/image/thumbnail{{ item.hash | image_path }}" alt=""/>
                                </a>
                            </div>
                            <div class="image-detail text-center">
                                <p>
                                    <a class="img fancybox" href="{{ base_url }}/gallery/view/{{ item.id }}" target="_blank">{{ item.title }}</a>
                                </p>
                                <p>
                                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#get_phone" style="height: auto; padding: 17px 48px;font-size: 150%;">КУПИТЬ</button>
                                </p>
                            </div>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}