<div class="text-center">
    <h1>Что то пошло не так.</h1>
    <h2>Ошибка 404</h2>
    <p>Запрашиваемая страница не найдена</p>
    <p>Вернуться <a href="javascript:history.go(-1)">назад</a>, или перейти на <a href="#">главную</a></p>
</div>

