{% set title = query.name %}
{% extends 'layout.twig' %}
{% block title %}{{ query.name }}{% endblock %}

{% block content %}
    <section class="banner clearfix">
        <div class="container">
            <h1 class="text-black white-text text-center">Фотогалерея&nbsp;{{ query.name |title }}</h1>
        </div>
    </section>
    <section class="portfolio">
        <div class="container">
            <div class="portfolio-gal isotope masonry_wrapper">
                <div class="row">

                    {% for item in list %}
                        <div class="col-xs-12 col-sm-4 webdesign" style="height: 400px">
                            <div class="image text-center">
                                <a class="img fancybox" href="http://toptk.info/" target="_blank">
                                    <img class="img-thumbnail" src="http://knore-brand.ru/image/thumbnail{{ item.hash | image_path }}" alt=""/>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}