{% extends 'layout.twig' %}
{% block title %}Грузовые автомобили в России{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Фотогалереи</h1>
        </div>

        {% for item in list %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail text-center" style="height: 350px">
                    <p>Фотогалерея&nbsp;{{ item.name }}</p>
                    <a class="img text-center" href="{{ base_url }}/gallery/{{ item.alias }}.html">
                        <img src="http://knore-brand.ru/image/thumbnail{{ item.hash | image_path }}" alt="{{ item.name }}">
                    </a>
                </div>


            </div>
        {% endfor %}
    </div>
{% endblock %}