{% set title = query.name %}
{% extends 'layout.twig' %}
{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <!-- Banner Start -->
    <section class="banner clearfix">
        <div class="container">
            <h1 class="text-black white-text text-center">{{ image.title | title }}</h1>
        </div>
    </section>
    <!-- Banner End -->

    <!-- About-US Start -->
    <section class="about-us padding-tb-150" >
        <!-- Container Start -->
        <div class="container">
            <div class="row padding-bottom-150">
                <div class="col-sm-12 col-md-5 text-center" >
                    <p><img class="img-responsive" src="http://knore-brand.ru/image/full{{ image.hash | image_path }}" alt=""></p>
                </div>
                <div class="col-sm-12 col-md-7 padding-left-65">

                        <h2>{{ image.title }}</h2>
                        <!--<p>{{ image.description }}</p>-->
                    <p>
                        <!--<a href="http://toptk.info/?vendor_code=true" class="btn btn-link" target="_blank">Смотреть цену и наличие по артикулу</a>-->
                        <button class="btn btn-link" data-toggle="modal" data-target="#get_phone">Смотреть цену и наличие по артикулу</button>
                    </p>
                    <p>
                        <a href="http://toptk.info/?vendor_code=true" class="btn btn-success btn-lg" target="_blank">Заказать запчасть</a>
                        <!--<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#get_phone" style="height: auto; padding: 17px 48px;font-size: 150%;">Заказать запчасть</button>-->
                    </p>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <!-- About-US End -->
{% endblock %}