{% extends 'layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <!-- Banner Start -->
    <section class="banner clearfix">
        <div class="container">
            <h1 class="text-black white-text text-center">Архив изображений</h1>
        </div>
    </section>
    <!-- Banner End -->

    <!-- Contact Us Start -->
    <section class="clearfix padding-tb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-7 text-center"><img src="/img/could.png" alt=""></div>
                <!-- Col Start -->
                <div class="col-sm-5 col-md-5">
                    <ul>
                        {% for item in list %}<li><a href="/gallery/{{ item.alias }}.html" class="btn btn-link">{{ item.name }}</a></li>{% endfor %}
                    </ul>

                    <div class="text-center">
                        <ul class="pagination">
                            <!--
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li><a href="/">1</a></li>
                            <li><a href="/2">2</a></li>

                            {% for item in range(pagination.currentPage - 2, pagination.currentPage + 2) %}
                                <li><a href="/{{ item }}">{{ item }}</a></li>
                            {% endfor %}

                            <li><a href="/{{ pagination.lastPage - 1 }}">{{ pagination.lastPage - 1 }}</a></li>
                            <li><a href="/{{ pagination.lastPage }}">{{ pagination.lastPage }}</a></li>

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
-->
                            {% for item in range(pagination.firstPage, pagination.lastPage) %}
                                {% if pagination.currentPage == item %}
                                    <li class="active"><a href="#">{{ item }}</a></li>
                                {% else %}
                                    <li><a href="/page/{{ item }}">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}


                        </ul>


                    </div>
                </div>
                <!-- Col End -->
            </div>
        </div>
    </section>
    <!-- Contact Us End -->
{% endblock %}